body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: white;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  z-index: 100;
}

.header-top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.progress-bar {
  height: 6px;
  background: #e5e7eb;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: #3b82f6;
}

/* CONTENIDOR */
.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 12px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
}

/* botons */
button {
  display: block;
  margin: 10px 0;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/* accions */
.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
}

/* input */
input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}